/* RESET
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set default fonts */
html {
  font: 1em/1.5 sans-serif;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set default colors */
body {
  color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Links */
a {
  color: #333;
  text-decoration: none;
}

a strong {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p a {
  text-decoration: underline;
}

p a:hover {
  color: #000;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.3rem;
  font-weight: 700;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  margin-top: 1rem;
}

/* Body text */
p {
  font-family: "Literata", Georgia, Times, Times New Roman, "serif";
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

em {
  font-style: italic;
}

/* Lists */
article ul,
article ol,
article dl {
  font-family: "Literata", Georgia, Times, Times New Roman, "serif";
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
  list-style: unset;
}

article li {
  margin-bottom: 0.6rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Monaco, Menlo, "Courier New", monospace;
  font-size: 0.85rem;
}

@media screen and (max-width: 568px) {
  pre {
    font-size: 0.8rem;
  }
}

code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  line-height: 1.4;
  white-space: pre;
  overflow: scroll;
  border-radius: 0.4rem;
  padding: 0.4rem;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  margin: 2rem 0 !important;
}

/* Quotes */
blockquote {
  padding: 0.5rem 1.5rem;
  color: #333;
  border-left: 0.1rem solid #333;
  margin: 1rem 0;
}

blockquote p:last-child {
  margin-bottom: 0;
  letter-spacing: normal;
  font-size: 0.8rem;
}

@media (min-width: 30em) {
  blockquote {
    margin: 1rem 0;
  }
}

/* Images */
img {
  display: block;
  max-width: 100%;
  border-radius: 0.4rem;
}

.fixed-img {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  display: block;
}

.fixed-img-spreader {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.4rem;
}

.fixed-img-spreader:before {
  display: block;
  content: "";
  width: 100%;
}

.fixed-img-spreader.seventy-five:before {
  padding-top: 75%;
}

.fixed-img-spreader.seventy:before {
  padding-top: 70%;
}

.fixed-img-spreader.sixty-two:before {
  padding-top: 62%;
}

.fixed-img-spreader.sixty:before {
  padding-top: 60%;
}

.fixed-img-spreader.fifty:before {
  padding-top: 50%;
}

.fixed-img-setter {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

footer a {
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/* Message */
.message {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  padding: 0.8rem 0.6rem;
  color: #333;
  border-left: 0.2rem solid #333;
}

.message a {
  text-decoration: underline;
}

/* Container */
.container {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.top-header {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .top-header {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
}

.top-header-title {
  margin-top: 0;
  margin-bottom: 0;
}

.top-header-title h1 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.top-header-title small {
  font-size: 75%;
  font-weight: 400;
  letter-spacing: 0;
}

.top-header-nav-item {
  margin-left: 0.5rem;
}

/* Articles */
article {
  margin-bottom: 2rem;
}

.article-header {
  margin-bottom: 1rem;
}

.article-title,
.article-title a {
  color: #303030;
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
}

.article-date {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.article-description {
  margin-top: 0;
  margin-bottom: 1rem;
}

p.small {
  font-size: small;
  line-height: 1rem;
}

/* Pagination */
.pagination {
  display: flex;
}

p.pagination-item {
  margin-bottom: 0;
  width: 50%;
  color: #767676;
  text-align: center;
  font: 1em/1.5 sans-serif;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p.pagination-item a {
  text-decoration: none;
}

p.pagination-item > a:hover, p.pagination-item > a:focus {
  text-decoration: underline;
}

.not-found {
  text-align: center;
  margin: 4rem auto;
}

.aside-post-container {
  display: flex;
  justify-content: flex-end;
  align-items: normal;
  margin-top: 4rem;
}

.aside-post {
  width: 50%;
  padding: 0 1rem;
  flex-shrink: 0;
  overflow: hidden;
}

.aside-post.left {
  text-align: left;
  border-right: 1px solid #333;
}

.aside-post.right {
  text-align: right;
}

.aside-post p {
  font-size: 0.9rem;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.aside-post-arrow {
  margin-bottom: 0.4rem;
}

.aside-post-title {
  text-decoration: none;
  font-weight: bold;
}

.aside-post-title:hover {
  text-decoration: underline;
}

.article-list {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.article-list-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
}

.article-list-item:last-child {
  /* border-bottom: none; */
}

.article-list-item a {
  text-decoration: none;
}

.article-list-item > a:hover > .article-title {
  text-decoration: underline;
  color: #000000;
}

.article-keep-reading {
  font-size: 0.9rem;
}

.article-keep-reading:hover {
  text-decoration: underline;
}

.img-grow--flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: zoom-out;
  padding: 1rem;
}

.img-grow--img {
  max-height: 100%;
}

.img-grow--target {
  cursor: zoom-in;
}
