{% extends 'base.html' %}

{% block head %}
  <link rel="webmention" href="https://webmention.io/alexrichey.com/webmention" />
  <link rel="pingback" href="https://webmention.io/alexrichey.com/xmlrpc" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ pageDescription }}">

  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ pageDescription }}">

  {% if frontMatter.image %}
  <meta property="og:image" content="https://alexrichey.com/{{ frontMatter.image }}" />
  <meta name="twitter:image" content="https://alexrichey.com/{{ frontMatter.image}}">
  <meta name="twitter:card" content="summary_large_image">
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <div class="article-header">
    <h1>
      {{ title }}
    </h1>
    <time class="article-date" datetime="{{ date }}">{{ date|date:'2 January 2006' }}</time>
  </div>
  <div>
    {{ content|safe }}
  </div>
  <aside class="aside-post-container">
    <div class="aside-post left">
    {% if nextPost %}
      <a href="{{ nextPost.Path }}">
        <p class="aside-post-arrow">&#8592; Newer</p>
        <p class="aside-post-title">{{ nextPost.Title }}</p>
      </a>
    {% endif %}
    </div>
    <div class="aside-post right">
    {% if prevPost %}
      <a href="{{ prevPost.Path }}">
        <p class="aside-post-arrow">Older &#8594;</p>
        <p class="aside-post-title">{{ prevPost.Title }}</p>
      </a>
    {% endif %}
    </div>
  </aside>
</article>
{% endblock %}
