{% extends 'base.html' %}
{% block content %}
<article>
  <div class="article-header">
    <h1 class="article-title">
      {{ title }}
    </h1>
    <span class="article-date">{{ date|date:'2 January 2006' }}</span>
  </div>
  <div>
    {{ content|safe }}
  </div>
  <aside class="aside-post-container">
    <div class="aside-post left">
    {% if nextPost %}
      <a href="{{ nextPost.Path }}">
        <p class="aside-post-arrow">&#8592; Newer</p>
        <p class="aside-post-title">{{ nextPost.Title }}</p>
      </a>
    {% endif %}
    </div>
    <div class="aside-post right">
    {% if prevPost %}
      <a href="{{ prevPost.Path }}">
        <p class="aside-post-arrow">Older &#8594;</p>
        <p class="aside-post-title">{{ prevPost.Title }}</p>
      </a>
    {% endif %}
    </div>
  </aside>
</article>
{% endblock %}
