<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <script
      async
      type="text/javascript"
      src="https://plausible.io/js/analytics.js"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ assets|key:'styles/styles.css' }}" />

    <script
      defer
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js"
    ></script>

    <script 
      defer
      type="text/javascript"
      src="{{ assets|key:'scripts/img-grow.js' }}"
    ></script>

    <meta property="og:site_name" content="Alex Richey">
    <meta name="twitter:site" content="@AlexanderRichey">
    <link rel="me" href="https://twitter.com/AlexanderRichey">
    <link rel="me" href="https://github.com/AlexanderRichey">
    <link rel="webmention" href="https://webmention.io/alexrichey.com/webmention" />
    <link rel="pingback" href="https://webmention.io/alexrichey.com/xmlrpc" />

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'header.html' %}
    <main class="container">{% block content %}{% endblock %}</main>
    {% include 'footer.html' %}
  </body>
</html>
